body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

caption {
    font-weight: bold;
    font-size: 2rem;
}

th {
    border: 3px solid black;
    border-collapse: collapse;
    vertical-align: middle;
    font-size: 1.8rem;
    width: 17vw;
    height: 17vh;
}

#top th {
    border-top: none;
}

#bottom th {
    border-bottom: none;
}

#one,
#four,
#seven {
    border-left: none;
}

#three,
#six,
#nine {
    border-right: none;
}